config VIDEO_ATOMISP_NG
	tristate "Intel Atom ISP driver prototype"
	depends on VIDEO_V4L2
	select IOMMU_API
	select IOMMU_IOVA
	select X86_DEV_DMA_OPS if X86
	select VIDEOBUF2_DMA_CONTIG
	select PHYS_ADDR_T_64BIT
	---help---
	Say Y here!
